@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*{
    width: 0;
    height: 0;
    border: 0;
}

body{
    background-color: rgb(241, 135, 116);
}

hzzz1{
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    margin-left: 650px;
}

div.head{
    position: relative;
    padding: 10px;
    background-color: yellow;
    width: 420px;
    height: 420px;
    margin: 100px  500px 50px 470px;
    border-radius: 50%;
    border: 5px solid rgb(248, 128, 107);
    box-shadow: 2px 3px 5px tomato;
}

.heart-eyeRight{
    position: relative;
    width: 70px;
    height: 70px;
    background-color: red;
    margin: 150px 80px;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.heart-eyeLeft{
    position: relative;
    width: 70px;
    height: 70px;
    background-color: red;
    margin: -220px 265px;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.heart-eyeRight:before, .heart-eyeRight:after,
.heart-eyeLeft:before, .heart-eyeLeft:after{
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    position: absolute;
}

.heart-eyeRight:before{
    right: -40px;
    top: 1px;
}

.heart-eyeRight:after{
    top: -40px;
}

.heart-eyeLeft:before{
    right: -40px;
    top: 1px;
}

.heart-eyeLeft:after{
    top: -40px;
}

@keyframes beat {
    from {
        transform: scale(1, 1, 1) rotate(-45deg);
    }

    50%{
transform: scale3d(1.20, 1.19, 1.30) rotate(-45deg);
    }

    to {
        transform: scale(1, 1, 1) rotate(-45deg);
    }
}

.lips{
    position: relative;
    background-color: rgb(71, 21, 5);
    width: 150px;
    height: 100px;
    margin: 290px 140px;
    border-radius: 50%;
}